{% macro renderTags(tags) %}
    {% if tags %}
        <div class="tags">
            {% for tag in tags %}
                <span class="tag">
                    {{ tag }}
                </span>
            {% endfor %}
        </div>
    {% endif %}
{% endmacro %}

{% macro renderDate(date, readingTime) %}
    <div class="tags has-addons">
        {% if date %}
            <span class="tag is-warning">{{ date.toLocaleDateString("en-US", { year: 'numeric', month: 'long', day: 'numeric' }) }}</span>
        {% endif %}
        {% if readingTime %}
            <span class="tag">
                {{readingTime}}
                min read
            </span>
        {% endif %}
    </div>
{% endmacro %}

{% macro renderCombinedTags(tags, date, readingTime) %}
    <div class="field is-grouped is-grouped-multiline">
        <div class="control">
            {{ renderDate(date, readingTime) }}
        </div>
        <div class="control">
            {{ renderTags(tags) }}
        </div>
    </div>
{% endmacro %}