<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>{{title}}</title>
    <meta name="description" content="{{description}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="/assets/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css" />
    <script type="text/javascript" src="/assets/js/scripts.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-70363755-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-70363755-1');
    </script>

    {{>head-bottom-content}}
</head>

<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item is-uppercase" href="/">
                <span class="has-text-warning">Oleksandr</span>
                <span class="has-text-success">Boiko</span>
            </a>

            <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navMenu" class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item" href="/">
                    Home
                </a>
                <a class="navbar-item" href="/projects/">
                    Projects
                </a>
                <a class="navbar-item" href="/resume/">
                    Résumé
                </a>
                <a class="navbar-item" href="/posts/">
                    Blog
                </a>
                <a class="navbar-item" href="/chords/">
                    Chords
                </a>
            </div>
        </div>
    </nav>

    <section class="section section-content">
        <div class="container" style="max-width:960px">
            <div class="content">
                {{>block-content}}
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <span>© Copyright {{jseval 'new Date().getFullYear()'}}, </span>
                <a href="/">Oleksandr Boiko</a>.
                <span>The website content is licensed </span>
                <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
            </p>
        </div>
    </footer>
</body>

</html>