<div class="field is-grouped is-grouped-multiline">
    {{#jseval_if "this.date || this.readingTime || this.tags"}}
    <div class="control">
        <div class="tags has-addons">
            {{#if date}}
            <span class="tag is-warning is-light">
                {{#format-date}}{{{date}}}{{/format-date}}
            </span>
            {{/if}}
            {{#if readingTime}}
            <span class="tag">
                {{readingTime}}
                min read
            </span>
            {{/if}}
        </div>
    </div>

    <div class="control">
        <div class="tags">
            {{#each tags}}
            <span class="tag">
                {{this}}
            </span>
            {{/each}}
        </div>
    </div>

    <br />
    {{/jseval_if}}
</div>