body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#main-home-photo-bg {
  background-image: url("../../photo_bg.jpg");
  position: fixed;
  height: 810px;
  width: 800px;
  top: -60px;
  right: -340px;
  top: 0;
  z-index: -1;
  opacity: 0.6;
}

#chords-img-bg {
  background-image: url(../backgrounds/guitar.jpg);
  position: fixed;
  height: 1110px;
  width: 800px;
  top: -120px;
  right: -340px;
  z-index: -1;
  transform: scale(0.7);
}

.section-content {
  flex: 1;
}

.content pre {
  padding: 0;
}

.project-card-img {
  float: right;
  margin-left: 40px;
  margin-bottom: 20px;
  max-width: 400px;
}
@media only screen and (max-width: 600px) {
  .project-card-img {
    max-width: 90vw;
  }
}
