<% include partials/header %>

<body>
  <div class="container">
    <% include partials/top-menu %>

    <br/>
    <br/>
    <h1 class="title"><%= title %></h1>
    
    <div class="content">
      <%- contents %>
    </div>

    <br/>
    <br/>
  </div>
</body>
</html>
