{% include "partials/header.njk" %}

<body>
  <div class="container">
    {% include "partials/top-menu.njk" %}

    <br/>
    <br/>
    <h1 class="title">{{title}}</h1>

    <div class="tags has-addons">
      {% if date %}
        <span class="tag">{{ date.toLocaleDateString("en-US", { year: 'numeric', month: 'long', day: 'numeric' }) }}</span>
      {% endif %}
      {% if readingTime %}
        <span class="tag is-primary">
          {{readingTime}}
          min read
        </span>
      {% endif %}
    </div>

    <div class="content">
      {{ contents | safe }}
    </div>

    {% if tags %}
      <div class="tags has-addons">
        <span class="tag is-info">Tags</span>
        <span class="tag">
          {{ tags }}
        </span>
      </div>
    {% endif %}

    <br/>
    <br/>
  </div>
</body>
</html>