{% extends "base.njk" %}
{% import "macro/tags.njk" as tagsMacro %}

{% block main %}
  <h1 class="title">{{title}}</h1>

  {{ tagsMacro.renderCombinedTags(tools.normalizeTags(tags), date, readingTime) }}

  <div class="content">
    {{ contents | safe }}
  </div>

{% endblock %}