{% extends "base.njk" %}
{% import "macro/tags.njk" as tagsMacro %}

{% block main %}
  <h1 class="title">{{title}}</h1>

  <div class="content">
    {{ contents | safe }}
  </div>

  <!-- Links to all posts: -->
  {% for post in collections.posts %}
    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <a class="title is-4" href="{{ tools.fixPath(post.path) }}">
              {{ post.title }}
            </a>
            <br/>
            <br/>

            {{ tagsMacro.renderCombinedTags(tools.normalizeTags(post.tags), post.date, post.readingTime) }}

            <div class="content">
              {{ tools.cutExcerpt(post.contents) |safe }}
            </div>
            <a class="has-text-primary" href="{{ tools.fixPath(post.path) }}">
              Read more ->
            </a>
          </div>
        </div>

      </div>
    </div>
    <br/>
  {% else %}
    <p>No posts yet</p>
  {% endfor %}

{% endblock %}