{{#>main-layout}}

{{#*inline "head-bottom-content"}}
<!-- Highlight js -->
<link rel="stylesheet" href="/assets/js/lib/highlight-js/styles/default.css">
<script src="/assets/js/lib/highlight-js/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
{{/inline}}

{{#*inline "block-content"}}
<h1 class="title">{{title}}</h1>
{{>tags-combined}}
{{{contents}}}
{{/inline}}

{{/main-layout}}