{% include "partials/header.njk" %}

<body>
  <div class="container">
    {% include "partials/top-menu.njk" %}

    <br/>
    <br/>
    <h1 class="title">{{title}}</h1>

    <div class="content">
      {{ contents | safe }}
    </div>

    <!-- Links to all posts: -->
    {% for post in collections.posts %}
      <div class="card">
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <a class="title is-4" href="{{ tools.fixPath(post.path) }}">
                {{ post.title }}
              </a>
            </div>
          </div>

          <div class="content">
            <div>
              {{ tools.cutExcerpt(post.contents) |safe }}
            </div>
            <br/>
            <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
          </div>
        </div>
      </div>
      <br/>
    {% else %}
      <p>No posts yet</p>
    {% endfor %}

    <br/>
    <br/>
  </div>
</section>
</body>
</html>