{{#>main-layout}}

{{#*inline "head-bottom-content"}}
<!-- Highlight js -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
{{/inline}}

{{#*inline "block-content"}}
<h1 class="title">{{title}}</h1>
{{>tags-combined}}
{{{contents}}}
{{/inline}}

{{/main-layout}}