{{#>main-layout}}

{{#*inline "head-bottom-content"}}
    <link rel="stylesheet" type="text/css" href="/assets/css/song.css" />
    <script type="module" src="/assets/js/song-main.js"></script>
{{/inline}}

{{#*inline "block-content"}}
    <h1 class="title">{{title}}</h1>
    
    {{>tags-combined}}

    {{#fix-spaces-in-code-blocks}}{{{contents}}}{{/fix-spaces-in-code-blocks}}

    <div id="decoration-bg-right"></div>
    <div id="decoration-bg-left"></div>

{{/inline}}

{{/main-layout}}
