{{#> main-layout }}

{{#* inline "head-bottom-content" }}
<link rel="stylesheet" type="text/css" href="/assets/css/song.css" />
{{/inline}}

{{#* inline "block-content" }}
<h1 class="title">{{title}}</h1>
<div id="chords-img-bg"></div>

{{> tags-combined }}
{{> sound-cloud-inline }}

{{#replace-underscores}}{{{contents}}}{{/replace-underscores}}

{{> used-chords-inline }}

{{/inline}}

{{/main-layout}}